{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h1>My Basket</h1>
<h3>Get It Shipped</h3>
<p>Beauty Insiders enjoy FREE standard shipping on all orders.</p>
<div class="row">
    <div class="col-lg-12">
        <div class="box-elem">
            <a class="btn-btn-outline-dark" href="{% url 'dashboard' %}">&#x2190; Continue Shopping</a>

            <br>
            <br>

            <table class="table">
                <tr>
                    <th><p>Merchandise Subtotal <strong>${{ order.get_cart_total }}</strong></p></th>
                    <th><p>Shipping & Handling <strong>FREE</strong></p></th>
                    <th><h5><strong>Estimated Total</strong><strong> Placeholder Total</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px" class="btn-btn-success" href="{% url 'checkout' %}">Checkout Shipped Items</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <div class="box-elem">
        <div class="item-cart-total">Get It Shipped ({{ order.get_cart_items }})</div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.heroImage }}"></div>
                <div style="flex:2">{{ item.product.brandName }}</div>
                <div style="flex:1">{{ item.get_total }}</div>
                <div style="flex:2">{{ item.product.displayName }}</div>
                <div style="flex:1">
                    <p class="quantity">{{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
