<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}"

    <meta name="viewport" content="width=device-width, initial-scale=1, 
    maximum-scale=1, minimum-scale=1" />

</head>
<body>
    <h1 id="sephora-logo-top-orient">
        <div class="img-img-header">
            <a class="brand-img-route-home" href="{% url 'dashboard' %}">
                <img id="sephora-logo" src="{% static 'images/sephora_logo.png' %}">
            </a>
        </div>
    </h1>

    <hr class="shadow-line">


</body>
</html>

<h1 id="checkout-page-identify">Checkout</h1>

<hr class="checkout-separator-line" style="border-width: 2px !important;">

<h3>Shipping Address</h3>
<div class="row">
    <div class="col-lg-6">
        <input required id="name-first" type="text" name="fname" placeholder="First Name*">
        <input required id="name-last" type="text" name="lname" placeholder="Last Name*">
        <br>
        <input required id="phone-num" type="text" name="phone" placeholder="Phone*">
        <input required id="email-address" type="text" name="email" placeholder="Email Address*">
        <br>
        <input required id="street-address" type="text" name="street" placeholder="Street Address*">
        <br>
        <input required id="zipcode" type="text" name="zipcode" placeholder="ZIP/Postal Code*">

        <div class="submit-btn-btn-alert">
            <input id="form-button" class="btm btn-success btn-block" type="submit" value="Save & Continue">
        </div>
    
        <table class="table">
            <tr>
                <th><p>Merchandise Subtotal <strong>${{ order.get_cart_total }}</strong></p></th>
                <th><p>Shipping & Handling <strong>FREE</strong></p></th>
                <th><h5><strong>Estimated Total</strong><strong> Placeholder Total</strong></h5></th>
            </tr>
        </table>

        <br>

        <div class="box-elem hidden" id="payment-info">
            <h1>Payment Method</h1>
        </div>
    </div>
</div>


