{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    
<body>
    <p>
        <ul class="product-overview-group">
            {% for product in response %}
                <li class="product-individual-group">
                    <img class="product-image" src= "{{ product.heroImage }}" alt="{{ product.displayName }}">
                    <span id="brand-name">{{ product.brandName }}</span>
                    <span id="display-name">{{ product.displayName }}</span>

                    {% if product.moreColors %}
                        <span id="more-colors">{{ product.moreColors }} Colors</span>
                    {% else %}
                        <span id="more-colors"> </span>
                    {% endif %}

                    <span id="display-rating">{{ product.displayRating }}</span>

                    <span id="display-price">${{ product.displayPrice }}</span>

                    <hr>

                    <button class="btn-btn-add-to-cart">Add to Basket</button>
                </li>
            {% endfor %}
        </ul>
    </p>
</body>

{% endblock content %}