:root {
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-serif: Georgia, Times, serif;
}

body {
    font-family: var(--font-family-base);
    margin: 0;
}

.product-overview-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-top: 10vh;
}

.product-individual-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 1.06vw;
    margin: 0 2vw 10vh;
}

.product-individual-group img {
    display: flex;
    width: 250px;
    height: 250px;
    margin-bottom: 2.3vh;
    align-items: center;
}

#brand-name {
    font-weight: bold;
    font-size: 1vw;
    margin-top: 2.5vh;
}

#display-name {
    display: inline-block;
    word-wrap: break-word;
    max-width: 18em;
}

#display-price {
    font-weight: bold;
    font-size: 1.2vw;
    margin-top: 1vh;
}

#display-rating {
    margin-top: .5vw;
}

.btn-btn-add-to-cart {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    font-size: 1.1vw;
    padding: 1vh;
    width: 50%;
}

.btn-btn-add-to-cart:hover {
    background-color: #fff0f3;
    transform: scale(1.05);
    transition: background-color 0.2s ease, transform 0.2s ease;
}
